aiedit/
alpha_text.txt 
anim_dictionaries_used_by_script.txt
anims_used_by_script.txt
c0.kwd
c0.mac
c2.kwd
c2.mac
cdimage.dll
cdimagemaker.exe
command_usage.txt
cutscenes_used_by_script.txt
GTASASaveInfo.dat
main.scm
main_text.txt
missing_sound_effects.txt
missionOutput.txt
missiontextkeys.txt
models_used_by_script.txt
ordered_commands.txt
particles_used_by_script.txt
progress_list.txt
ScriptCompileInfo.txt
special_characters_used_by_script.txt
speech_contexts_used_by_script.txt
unused_sound_effects.txt
unused_sound_effects_without_numbers.txt
variable_info.txt
variable_usage.txt
extrainfo.txt